In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame(np.random.randint(1, 18, [5, 3]), index=['a', 'b', 'c', 'd', 'e'], columns=['google', 'facebook', 'microsoft'])

In [3]:
data

   google  facebook  microsoft
a      14        10          3
b       4        16          9
c      13         8          6
d       2         1         12
e      16        10         11

In [4]:
data['google']  # 直接单个值返回的是Series

a    14
b     4
c    13
d     2
e    16
Name: google, dtype: int32

In [5]:
data[['google']]  # 如果单个值想返回的是DataFrame，需要用列表的形式如列表 ['google'] ，其实就是两个方括号。

   google
a      14
b       4
c      13
d       2
e      16

### loc的使用  

loc是DataFrame索引很重要的一个属性。注意因为是属性所以使用方括号来选择。  
参考这篇文章写得非常棒：https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/   
loc可以选择行，也可以选择列，但是感觉主要是用来选择行，因为选择列可以直接DataFrame进行列选择。    
loc使用格式是 `DataFrame.loc[<row selection>, <colomn selection>]`,其中行列选择多个值时使用的是列表，即方括号表示的形式。

In [6]:
data.loc['a']  # 和前面一样，单个值会返回Series；要想返回DataFrame可以使用列表

google       14
facebook     10
microsoft     3
Name: a, dtype: int32

In [7]:
data.loc[['a']]  # 用单个值的列表，方括号里面还有方括号，返回DataFrame

   google  facebook  microsoft
a      14        10          3

In [8]:
data.loc[['a', 'd']]  # 多个值时有两种方式，①用列表来选取多个值，如用列表['a', 'd']来选取索引标签为'a'和'd'这两行

   google  facebook  microsoft
a      14        10          3
d       2         1         12

In [10]:
data.loc['a':'d']  # 多个值时有两种方式，②可以使用切片即冒号`:`来选择连续的多行。如用切边 'a':'d' 选择从'a'到'd'的行

   google  facebook  microsoft
a      14        10          3
b       4        16          9
c      13         8          6
d       2         1         12

In [11]:
data.loc[['a', 'd'], ['microsoft', 'google']]  # 行列选择多个值时使用列表，用逗号分隔，逗号前面是选择行，后面选择列

   microsoft  google
a          3      14
d         12       2

In [12]:
data1 = data.loc[['a', 'b'], ['microsoft', 'google']] 
data1

   microsoft  google
a          3      14
b          9       4

In [13]:
data1.sum()  # sum()方法是计算每一列的和

microsoft    12
google       18
dtype: int64

In [14]:
data1.sum().sum()  # 如果想计算DataFrame中所有元素的和，只需要两次调用sum()方法，第一次调用计算出每一列的和，第二次调用计算出所有列的和即总和

30