参考 https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('D:\\Service\\0-DATA\\uk-500.csv')

In [3]:
data.head(10)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk

In [4]:
data.shape  # 共 500 行 11 列

(500, 11)

### 1. iloc 的使用   

其实很简单，这里的索引和前面说的 NumPy 的索引一样，只用到一个方括号，然后是逗号、冒号。一共就这三个元素。

其中逗号是分割行与列，即逗号前的是行，逗号后的是列。

冒号是索引，记住在 Python 中一般索引的最后一个维度都是不包含，即左闭右开。

这里关于 DataFrame 的 iloc 与 loc 一个很重要的就是如果传入的是一个整数就会返回 Series，
传入的是个 list 返回的是 DataFrame，即注意 `5` 和 `[5]` 的区别，前者是个整数，后者是个列表。



iloc 与 loc 中没有逗号都是选择行，有逗号前面选择行后面选择列

In [5]:
data.iloc[5]  # 一个整数会返回 Series， 没有逗号只是选择行索引为 5 的行，但由于 5 是个整数，所以返回的是 Series

first_name                                      Eric
last_name                                      Rampy
company_name                 Thompson, Michael C Esq
address                                 9472 Lind St
city                                      Desborough
county                              Northamptonshire
postal                                      NN14 2GH
phone1                                  01969-886290
phone2                                  01545-817375
email                             erampy@rampy.co.uk
web             http://www.thompsonmichaelcesq.co.uk
Name: 5, dtype: object

In [6]:
data.iloc[[5]]  # 变成列表 [5] 后就会返回 DataFrame, 选择行索引为 5 的行

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk

In [7]:
data.iloc[2:5]  # 2:5 是切片，没有逗号，选择行索引， 选择行索引的范围是 2 到 5， 最后一个维度不包括在其中，左闭右开

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [8]:
# Series result because only one column selected
# 尽管行索引是个切片，但是后面的列索引是个整数，所以最后的结果还是返回 Series
data.iloc[1:2, 3]

1    5 Binney St
Name: address, dtype: object

In [9]:
data.iloc[1:2, [3]]  # [3] 是个 list，返回 DataFrame

       address
1  5 Binney St

In [10]:
data.iloc[1:5, 3]

1          5 Binney St
2         8 Moor Place
3        505 Exeter Rd
4    5396 Forth Street
Name: address, dtype: object

In [11]:
data.iloc[1:5, [3]]

             address
1        5 Binney St
2       8 Moor Place
3      505 Exeter Rd
4  5396 Forth Street

In [12]:
data.iloc[1:5, 3:6]

             address                            city           county
1        5 Binney St                      Abbey Ward  Buckinghamshire
2       8 Moor Place  East Southbourne and Tuckton W      Bournemouth
3      505 Exeter Rd              Hawerby cum Beesby     Lincolnshire
4  5396 Forth Street      Greets Green and Lyng Ward    West Midlands

### 2. loc 的使用   

The Pandas loc indexer can be used with DataFrames for two different use cases:

- a.) Selecting rows by label/index  

- b.) Selecting rows with a boolean / conditional lookup   

The loc indexer is used with the same syntax as iloc:   
`data.loc[<row selection>, <column selection>]`

In [13]:
dataNew = data.set_index('last_name')  # set 'last_name' as index

In [14]:
dataNew.head()

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
last_name,,,,,,,,,,
Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [15]:
dataNew.loc['Andrade']  # String, 选择索引行，返回 Series

first_name                                France
company_name                 Elliott, John W Esq
address                             8 Moor Place
city              East Southbourne and Tuckton W
county                               Bournemouth
postal                                   BH6 3BE
phone1                              01347-368222
phone2                              01935-821636
email                 france.andrade@hotmail.com
web             http://www.elliottjohnwesq.co.uk
Name: Andrade, dtype: object

In [16]:
dataNew.loc[['Andrade']]  # list of string，返回 DataFrame

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
last_name,,,,,,,,,,
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk

In [17]:
dataNew.loc[['Andrade', 'Veness']]  # 没有逗号选择的是行索引，这里选择的是行索引为 ['Andrade', 'Veness'] 两行

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
last_name,,,,,,,,,,
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [18]:
dataNew.loc[['Andrade', 'Veness'], ['first_name', 'address', 'city']]  # 逗号前是行， 逗号后是列

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

**2b. Boolean / Logical indexing using .loc**

Conditional selections with boolean arrays using `data.loc[<selection>]` is the most common method that I use with Pandas DataFrames. With boolean indexing or logical selection, you pass an array or Series of True/False values to the `.loc` indexer to select the rows where your Series has True values.

In most use cases, you will make selections based on the values of different columns in your data set.

For example, the statement `data['first_name'] == 'Antonio']` produces a Pandas Series with a True/False value for every row in the 'data' DataFrame, where there are "True" values for the rows where the first_name is "Antonio". These type of boolean arrays can be passed directly to the `.loc` indexer as so:

In [19]:
# 这里是选择行，选择那些 ['first_name'] == 'Antonio'] 的行
dataNew.loc[dataNew['first_name']=='Antonio']

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
last_name,,,,,,,,,,
Villamarin,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
Glasford,Antonio,Saint Thomas Creations,425 Howley St,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk,http://www.saintthomascreations.co.uk
Heilig,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

In [20]:
# 逗号前是选择行，逗号后是选择列
# 选择那些 ['first_name'] == 'Antonio'] 的行，并选择指定的列
dataNew.loc[dataNew['first_name']=='Antonio', ['company_name', 'email', 'phone1']]

,company_name,email,phone1
last_name,,,
Villamarin,Combs Sheetmetal,antonio.villamarin@gmail.com,01559-403415
Glasford,Saint Thomas Creations,antonio_glasford@glasford.co.uk,01463-409090
Heilig,Radisson Suite Hotel,antonio.heilig@gmail.com,01324-171614

In [21]:
# 这里 'email' 是个 String，所以会返回 Series
dataNew.loc[dataNew['first_name']=='Antonio', 'email']

last_name
Villamarin       antonio.villamarin@gmail.com
Glasford      antonio_glasford@glasford.co.uk
Heilig               antonio.heilig@gmail.com
Name: email, dtype: object

In [22]:
# ['email'] 是个 list，所以会返回 DataFrame
dataNew.loc[dataNew['first_name']=='Antonio', ['email']]

                                      email
last_name
Villamarin     antonio.villamarin@gmail.com
Glasford    antonio_glasford@glasford.co.uk
Heilig             antonio.heilig@gmail.com